<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(0,0,0,0)"></nav>
    <!-- <a href="/"><img id="navbarimagepos" src="./images/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="logo"></a> -->
    <a class="navbar-brand" href="/" style="font-family: 'Nunito Sans', sans-serif, light;">Disaster</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="/">Error</a>
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
        </li> -->
    </ul>
</nav>

<style>
    .navbar-brand:hover, .nav-link:hover {
        /** make the text slightly bigger on hover */
        transform: scale(1.1) translate(0, 2px);
        transition: transform 0.2s ease-in-out;
    }
    .navbar-brand, .nav-link {
        /** make the text slightly bigger on hover */
        transition: transform 0.2s ease-in-out;
    }
    #navbarimagepos {
        transform: translate(0, -2px);
        margin-right: px;
    }

</style>