<meta charset="UTF-8">

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
>
<link rel="stylesheet" href="stylesheets/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/b33dd8950a.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- set website logo -->
<link rel="icon" href="/images/house-icon.png">
<title>Disaster Support</title>
<style></style>