body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(0deg,#1c1c1c 100%, #1c1c1c 100%);
  min-height: 100vh;
  max-width: 100vw;
}
html {
  background-color: #1c1c1c;
}

.jumbotron {
  padding: 2em;
  color: white;
}

a {
  color: #00B7FF;
}

.navbar-item.is-active {
  color: white;
}

@keyframes firecolor {
  0% {
    color: #e06868;
  }
  50% {
    color: #e0a941;
  }
  100% {
    color: #fefee8;
  }
}

@keyframes firebackground {
  0% {
    background-color: #e06868;
  }
  50% {
    background-color: #e0a941;
  }
  100% {
    background-color: #fefee8;
  }
}

.fire-color {
  animation: firecolor 3s infinite alternate;
}

.fire-background {
  animation: firebackground 3s infinite alternate;
}

.hover-translate-up:hover {
  transform: translate(0, -2px);
  transition: transform 0.3s;
}

.hover-translate-up {
  transition: transform 0.3s;
}

.mapboxgl-popup {
  color: #000; 
}

.mapboxgl-popup-content {
  color: #000; 
}

.has-background-transparent {
  background-color: transparent;
}

.navbar-item.is-active {
  background-color: hsl(29, 100%, 71%) !important;
  color: black;
}