<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
    .jumbotron {
      border-radius: 8px;
      padding: 5em 10em;
    }
    h1 {
      font-size: 2.5em;
      font-weight: bold;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 1.8em;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 15px;
    }
  </style>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1> Earthquakes </h1>
      <h2> What to do during an earthquake</h2>
        <p>1) Drop down on to the ground </p>
        <p>2) Crawl on your hand and knees to a sturdy structure like a desk or bed and hide under it making sure to cover your head neck </p>
        <p>3) Hold on to the sturdy structure </p>
        <p>4) Wait, as most earthquakes only last 10-30 seconds</p>
      <h2> General Information</h2>
        <p> Earthquakes are the shaking of the earth's surface caused by a sudden release of energy in the lithosphere that creates seismic waves </p>
        <p> The lithosphere is the layer of earth comprised of the crust and the uppermost part of the mantle</p>
        <p> Other name for earthquakes</p>
          <p> Quake: The general name for this phenomenon as quakes on moon are referred to as moonquakes and on mars they are marsquakes so on earth its earthquakes</p>
          <p> Tremor: The word tremor may also be used for non-earthquake seismic rumbles</p>
          <p> Tremblor</p>
        <p> The largest earthquakes that has been measured on a seismograph was 9.5 known as the 1960 Chilean earthquake on May 22,1960</p>
        <p> The 1556 Shaanxi Earthquake has the most fatalities at over 830,000 fatalities</p>
      <h2>How Earthquakes are measured </h2>
        <p> The intensity and magnitude of an earthquake varies from those that can’t be felt to those strong enough to propel people or objects into the air and cause major destruction</p>
        <p> Intensity would measure the amount of shaking caused by an earthquake</p>
        <p> Magnitude scales are used to measure size of earthquakes</p>
        <p> Scales vary from country to country</p>
        <p> Japan has their own magnitude scale for instance that ranges from 0 to 7</p>
        <p> The USGS uses the moment magnitude scale as the Richter scale is now considered outdated.</p>
          <p> The Richter scale ranges from 2.0 to 9.0 and measures the height of a seismic wave</p>
          <p> The moment magnitude scale ranges from -2.0 to 9.9 and measures the total energy released by the earthquake</p>
          <p> The two scales have similar magnitudes from 3.0 to 7.0</p>
        <p> The USGS website has a live tracker of all earthquakes </p> 
        <a href="https://earthquake.usgs.gov/earthquakes/map/?extent=-80.53207,-364.92188&extent=84.16085,119.88281"> Live Tracker </a>
      <h2> What Causes Earthquakes</h2>
        <p> Earthquakes can be naturally caused or artificially caused</p>
        <p> Artificially caused earthquakes occur due to mining, fracking, and nuclear tests</p>
        <p> Natural earthquakes are primarily caused by geological faults, landslides, volcanic activity, and other seismic events</p>
        <p> Only 10% of an earthquakes total energy is radiated as seismic energy, the rest may power fracture growth or be converted into heat through friction which may increase the global heat levels of earth</p>

    
  </div>
</main>

<footer>
  
</footer>

</body>
</html>