<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Earthquakes</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  <style>
    .jumbotron {
      border-radius: 8px;
      padding: 5em 10em;
    }
    h1 {
      font-size: 2.5em;
      font-weight: bold;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 1.8em;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 15px;
    }
  </style>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<script>
  document.getElementById('earthquakes-nav-item').classList.add('is-active');
</script>

<main>
  <div class="jumbotron">
    <h1> Earthquakes </h1>

    <div class="columns pt-3">
      <div class="column p-3">
        <img src="https://cdn-images-1.medium.com/max/1600/0*tAAY-S5oNuSSL0GI.jpg" alt = "Earthquake" width="99%">
      </div>
      <div class="column p-3 pl-5 ml-2">
        <h2> What to do during an earthquake</h2>
        <ol>
          <li>Drop down on to the ground </li>
          <li>Crawl on your hand and knees to a sturdy structure like a desk or bed and hide under it making sure to cover your head neck </li>
          <li>Hold on to the sturdy structure </li>
          <li>Wait, as most earthquakes only last 10-30 seconds</li>
        </ol>
      </div>
    </div>
    <ul>
      <h2> General Information</h2>
      <div class="columns pt-2">
        <div class="column p-3 fixed-grid">
          <div class="grid has-2-cols">
            <div class="cell box is-flex is-flex-direction-column">
              <h3>Fun Fact!</h3>
              <p> Earthquakes are the shaking of the earth's surface caused by a sudden release of energy in the lithosphere that creates seismic waves </p>
            </div>
            <div class="cell box is-flex is-flex-direction-column">
              <h3>Did you know?</h3>
              <p> The lithosphere is the layer of earth comprised of the crust and the uppermost part of the mantle</p>
            </div>
            <div class="cell box is-flex is-flex-direction-column">
              <h3>Woah 🫨</h3>
              <p> The largest earthquakes that has been measured on a seismograph had a 9.5 magnitude and was known as the 1960 Chilean earthquake on May 22,1960</p>
            </div>
            <div class="cell box is-flex is-flex-direction-column">
              <h3>FUN FACT</h3>
              <p class="is-text-6"> The 1556 Shaanxi Earthquake has the most fatalities at over 830,000 fatalities</p>
            </div>
          </div>
        </div>
        <div class="column p-3">
          <h3> Other names for earthquakes</h3>
          <table class="table">
            <tr>
              <td>
                Quake
              </td>
              <td>
                The general name for this phenomenon, as quakes on moon are referred to as <i>moonquakes</i>, on Mars they are <i>marsquakes</i>, and on Earth they are <i>earthquakes</i>.
              </td>
            </tr>
            <tr>
              <td>
                Tremor
              </td>
              <td>
                The word tremor may also be used for non-earthquake seismic rumbles
              </td>
            </tr>
            <tr>
              <td>
                Tremblor
              </td>
              <td>
                Earth tremor
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="columns">
        <div class="column is-four-fifths">
          <div id="map" style="width: 95%; height: 50em; margin: 2em; border-radius: 1em;"></div>
        </div>
        <div class="column is-flex is-3 is-flex-direction-column">
          <button class="button mt-2" onclick="setPastDay()">Past Day</button>
          <button class="button mt-2" onclick="setPastWeek()">Past Week</button>
          <button class="button mt-2 " onclick="setPastMonth()">Past Month</button>
          <button class="button mt-2" onclick="setMagnitude(4)">Magnitude 4+</button>
          <button class="button mt-2" onclick="setMagnitude(6)">Magnitude 6+</button>
        </div>
      </div>
      <script>

        mapboxgl.accessToken = "<%= map_token %>";

        // if location is provided, get location for center of map
        var userLocation = [-117.903663, 33.798444]; // default userMarker location

        // check if user has enabled location service on browser or if supported
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
                userLocation = [position.coords.longitude, position.coords.latitude];
            });
        } else {
        }

        // create new map at default location
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: userLocation,
          zoom: 3,
          projection: 'globe'
        });

        var userMarker = new mapboxgl.Marker({
            draggable: false
        })
        .setLngLat(userLocation).addTo(map);

        var userPopUp = new mapboxgl.Popup({ offset: 25 }).setText(
            'Your location'
        );

        userMarker.setPopup(userPopUp);

        let oldEarthquakeMarkers = [];

        // set constants for earthquake retrieval
        let today = new Date();
        let startTime = new Date(today.setDate(today.getDate() - 5));
        let endTime = new Date();
        let minMagnitude = 4;

        const setPastDay = () => {
          today = new Date();
          startTime = new Date(today.setDate(today.getDate() - 1));
          endTime = new Date();
          populateMap();
        }

        const setPastWeek = () => {
          today = new Date();
          startTime = new Date(today.setDate(today.getDate() - 7));
          endTime = new Date();
          populateMap();
        }

        const setPastMonth = () => {
          today = new Date();
          startTime = new Date(today.setDate(today.getDate() - 30));
          endTime = new Date();
          populateMap();
        }

        const setMagnitude = (magnitude) => {
          minMagnitude = magnitude;
          populateMap();
        }

        earthquake_reports_json = async () => {

          const formatDate = (d) => {
            const year = d.getFullYear();
            const month = String(d.getMonth() + 1).padStart(2, '0');
            const day = String(d.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
          };

          // get date strings in yyyy-mm-dd format
          const date_start_str = formatDate(startTime);
          const date_end_str = formatDate(endTime);

          // get earthquake data from USGS using fetch
          const response = await fetch(`https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=${date_start_str}&endtime=${date_end_str}&minmagnitude=${minMagnitude}`);
          const data = await response.text();

          return JSON.parse(data);
        }

        function populateMap() {
          earthquake_reports_json().then(earthquakes => {
          console.log(earthquakes);

          // remove old markers
          oldEarthquakeMarkers.forEach(marker => {
            marker.remove();
          });
          // empty the array
          oldEarthquakeMarkers = [];

          earthquakes.features.forEach((earthquake) => {

            // customer marker size based on magnitude (lowest is 4.0)
            const magnitudeFactor = (earthquake.properties.mag - 4) / 4;
            const markerSize = 5 + (magnitudeFactor * 40);

            // create a HTML element for each feature
            var el = document.createElement('div');
            el.style.width=markerSize + 'px';
            el.style.height=markerSize + 'px';
            el.style.backgroundImage = 'url(https://em-content.zobj.net/source/openmoji/384/large-red-circle_1f534.png)';
            el.style.backgroundSize = '100%';
            el.className = 'marker';

            // make a marker for each feature and add to the map
            const marker = new mapboxgl.Marker(el)
            .setLngLat([earthquake.geometry.coordinates[0], earthquake.geometry.coordinates[1]])
            .addTo(map);

            // create a URL to redirect to the felt it page
            const feltItUrl = earthquake.properties.url + '/tellus';

            // give the marker a popup
            var popupContent = `
                <div class="p-2" style="text-align: center;">
                    <p class="is-size-6"><b>Magnitude ${earthquake.properties.mag}</b></p>
                    <p class="is-size-6"> ${earthquake.properties.place}</p>
                    <p class="is-size-7">${new Date(earthquake.properties.time).toLocaleString()}</p>
                    <button class="button is-link mt-2 dislike-btn" onclick="window.open('${earthquake.properties.url}', '_blank')"><i class="fa-solid fa-info mr-3"></i> More details</button>
                    <button class="button is-link mt-2" onclick="window.open('${feltItUrl}', '_blank')">🫨 I felt it!</button>
                </div>
            `;

            // Attach popup with custom HTML
            var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(popupContent);
            marker.setPopup(popup);

            // Add event listener to handle button clicks after the popup is added to the DOM
            popup.on('open', () => {
            });

            oldEarthquakeMarkers.push(marker); // used to clear old markers upon getting a new set of data

          });

          }).catch(error => {
            console.error('Error fetching earthquake data:', error);
          });
        }

        populateMap();
      </script>
      <h2>How Earthquakes are measured </h2>
        <li> The intensity and magnitude of an earthquake varies from those that can’t be felt to those strong enough to propel people or objects into the air and cause major destruction</li>
        <li> Intensity would measure the amount of shaking caused by an earthquake</li>
        <li> Magnitude scales are used to measure size of earthquakes</li>
        <li> Scales vary from country to country</li>
        <li> Japan has their own magnitude scale for instance that ranges from 0 to 7</li>
        <li> The USGS uses the moment magnitude scale as the Richter scale is now considered outdated.</li>
          <li> The Richter scale ranges from 2.0 to 9.0 and measures the height of a seismic wave</li>
          <li> The moment magnitude scale ranges from -2.0 to 9.9 and measures the total energy released by the earthquake</li>
          <li> The two scales have similar magnitudes from 3.0 to 7.0</li>
        <li> The USGS website has a live tracker of all earthquakes </li>
        <a href="https://earthquake.usgs.gov/earthquakes/map/?extent=-80.53207,-364.92188&extent=84.16085,119.88281" class="button">USGS's Official Earthquake Tracker</a>
      <h2> What Causes Earthquakes</h2>
        <li> Earthquakes can be naturally caused or artificially caused</li>
        <li> Artificially caused earthquakes occur due to mining, fracking, and nuclear tests</li>
        <li> Natural earthquakes are primarily caused by geological faults, landslides, volcanic activity, and other seismic events</li>
        <li> Only 10% of an earthquakes total energy is radiated as seismic energy, the rest may power fracture growth or be converted into heat through friction which may increase the global heat levels of earth</li>
        <a href="/tsunamis" class="button"> Tsunamis</a>
      <h2>Test Your Knowledge</h2>
      <a href="/earthquakequiz" class="button"> Quiz</a>
    
  </div>
</main>

<footer>
  
</footer>

</body>
</html>