<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1> Earthquakes </h1>
    <p> What to do during an earthquake</p>
    <p>1) Drop down on to the ground </p>
    <p>2) Crawl on your hand and knees to a sturdy structure like a desk or bed and hide under it making sure to cover your head neck </p>
    <p>3) Hold on to the sturdy structure </p>
    <p>4) Wait, most earthquakes only last 10-30 seconds</p>
    <p> Earthquakes are the shaking of the earth's surface caused by a sudden release of energy in the lithosphere that creates seismic waves </p>
    <p> body text</p>
    <p> body text</p>
  </div>
</main>

<footer>
  
</footer>

</body>
</html>