<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
  <%- include('../partials/head'); %>
  <title>Fire Reports</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<script>
    document.getElementById('reports-nav-item').classList.add('is-active');
</script>

<main>
  <div class="jumbotron">
    <div class="columns">
      <div class="column">
        <h1 class="title is-1 fire-color"> Report a Fire </h1>
        <a class="button is-primary fire-background hover-translate-up" style="margin-bottom: 1em;" onclick="getLocation()"> Get Your Location (requires permission) </a>
        <p style="display:none; margin-bottom: 1em;" id="locationConfirmation"> Is this where you see the fire? If not, drag the marker to set its correct location. </p>
        <a class="button is-primary hover-translate-up" id="submitLocation" style="display:none;">Submit Report</a>
      </div>
      <div class="column">
        <h4 class="title is-4" style="display: none" id="yourLocationTitle"> Your location </h4>
        <div id="map" style="width: 95%; height: 36em; margin: 2em"></div>
      </div>
    </div>

     
  </div>
  <script>
    mapboxgl.accessToken = "<%= map_token %>";

    var marker;

    function getLocation() {
      // request permission to get location if not already
      var userLocation = [-117.903663, 33.798444]; // default map marker location

      if (navigator.geolocation) {
        // save location information
        navigator.geolocation.getCurrentPosition((position) => {
          userLocation = [position.coords.longitude, position.coords.latitude];
        });
        
        // create new map and then update marker location
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: userLocation,
          zoom: 8.5
        });

        marker = new mapboxgl.Marker({
          draggable: true
        })
          .setLngLat(userLocation)
          .addTo(map);

        document.getElementById('locationConfirmation').style.display = 'block';
        document.getElementById('submitLocation').style.display = 'block';
        document.getElementById('yourLocationTitle').style.display = 'block';


      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    //TODO: SUBMIT MAP LOCATION
    function submitLocation() {
      // get location of marker
      var markerLocation = marker.getLngLat();
      console.log(markerLocation);

      // send location to server
      fetch('/fire-report/new', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          "longitude": markerLocation.lng,
          "latitude": markerLocation.lat
        })
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        window.location.href = '/fire-reports-list';
      })
    }

    document.getElementById('submitLocation').addEventListener('click', submitLocation);

  </script>
</main>

<footer>
  
</footer>

</body>
</html>