<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1> HELLO!!! </h1>
    <p>This is the home page for wildfire and earthquake disaster response</p>
    <p> There will be information and buttons on here</p>
  </div>
</main>

<footer>
  
</footer>

</body>
</html>