<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1> HELLO!!! </h1>
    <p>Hi there, how can I help you?</p>
    <p> I'm having an emergency :(</p>
    <p> That sucks, should have paid for premium disaster support! We have plans available starting from $79.99/day!</p>
  </div>
</main>

<footer>
  
</footer>

</body>
</html>