<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<style>
  body {
    background-image: url("/images/backdrop.png");
    background-size: cover;
    background-position-y: 50%;
    display: flex;
    flex-direction: column;
  }

  .button-mainstyle {
    background-color: hsl(0, 0%, 96%) !important;
    color: black;
    border-radius: 1em;
    border: 0px;
  }
  .button-mainstyle:hover {
    background-color: hsl(29, 100%, 71%) !important;
  }

  .text-shadow {
    text-shadow: rgba(0, 0, 0, 0.209) 0px 4px 8px;
  }
  .drop-shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.301);
  }
  #autotype {
    min-height: 45.15px;
  }
  #h-100 {
    height: 100%;
    flex: 1;
  }
  main {
    flex: 1;
  }
  .navbar-title h4 {
    color: #354053 !important;
  }
</style>

<main class="flex h-100">
    <div class="flex h-100 justify-content-center align-content-center has-text-centered pt-6">
      <h1 class="is-size-1 pt-6 text-shadow" style="color: #354053">Earthquakes and Wildfires</h1>
      <p class="is-size-4 pt-4 text-shadow" style="color: #4e5564" id="autotype"> </p>
      <div class="flex justify-content-center align-content-center has-text-centered pt-6">
        <a href="/earthquakes" class="button button-mainstyle is-large m-6 drop-shadow">Earthquakes</a>
        <a href="/wildfires" class="button button-mainstyle is-large m-6 drop-shadow">Wildfires</a>
        <a href="/fire-reports" class="button button-mainstyle is-large m-6 drop-shadow">Report a fire</a>
      </div>
    </div>
  <script>
    var i = 1;
    var j = 0;
    var messages = [" Find wildfire resources",
    " Find earthquake resources",
    " See nearby user reports",
    " Report a fire near you",
    " Find resources from your government"
  ];
    var speed = 30;

    function typeWriter() {
      txt = messages[j];
      if (i < txt.length) {
        document.getElementById("autotype").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
      else {
        setTimeout(undoTypeWriter, 3000);
      }
    }
    function undoTypeWriter() {
      txt = messages[j];
      if (i > 1) {
        document.getElementById("autotype").innerHTML = txt.substring(0, i - 1);
        i--;
        setTimeout(undoTypeWriter, speed);
      }
      else {
        j = (j + 1) % messages.length;
        setTimeout(typeWriter, 100);
      }
    }

    typeWriter();
  </script>
</main>

<footer>
  
</footer>

</body>
</html>