<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
</head>
<body>

<header>
  
</header>

<main>
  <div class="jumbotron" style="background-color: rgba(0,0,0,0);">
    <h1> HELLO!!! </h1>
    <p>Hi there, how can I help you?</p>
    <p> I'm having an emergency :(</p>
    <p> That sucks, should have paid for premium disaster support! We have plans available starting from $79.99/day!</p>
  </div>
</main>

<footer>
  
</footer>

</body>
</html>